<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ach.asset.mapper.AssetClassificationMapper">

    <select id="selectACList" resultType="com.ach.asset.vo.ACIdAndNameVO">
        SELECT ac_id, ac_name
        FROM asset_classification
        WHERE deleted = 0
          AND status = 1
    </select>
</mapper>
